body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(237, 218, 184, 0.74);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#login-section {
    width: 85dvw;
    height: 725px;
    /*border: 2px solid black;*/
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#login-form-wrapper {
    width: 30dvw;
    height: 700px;
    /*border: 2px solid red;*/
    background-color: rgba(233, 208, 169, 0);
    position: absolute;
    margin: 0;
}
#email,#password {
    width: 25dvw;
    height: 100px;
    top: 225px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#email-input:focus,#password-input:focus {
    border: 3px solid #3E3C5C;
    box-shadow: none;
    border-radius: 15px;
}
#login-button-div {
    width: 25dvw;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 200px;
}
#box-login {
    width: 1220px;
    height: 1260px;
    position: absolute;
    background: rgba(80, 77, 117, 0.75); /* darker - #3E3C5C*/
    border-radius: 250px 0 0;
    top: -140px;
    left: 920px;
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0% 100%);
}
#image-login {
    width: 730px;
    height: 610px;
    position: absolute;
    top: 310px;
    left: 110px;
    right: 0;
    transform: rotate(30deg);
}
.rotate {
    transform: rotate(-30deg);
}
#login-button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgba(80, 77, 117, 0.75);
    border-color: rgba(80, 77, 117, 0.75);
}
#login-button:hover {
    color: white;
    border-radius: 15px;
    background-color: #3E3C5C;
    border-left: 4px solid #B4A1A4;
    border-right: 4px solid #B4A1A4;
    border-top: none;
    border-bottom: none;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

