#logo-navbar-div {
    width: 90px;
    height: 90px;
}
#logo-navbar {
    width: 80px;
    height: 80px;
    background: url("/assets/icons/logo.png") center no-repeat;
    background-size: 72px 72px;
}